* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    background: url(../../img/index/image\ 6.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;

    .container {
        .carousel-left {
            img {
                object-fit: cover;
            }
        }

        .carousel-right {
            margin: auto;

            h2 {}

            h3 {}

            a.btn {
                border-radius: 0;
                color: #fff;

            }
        }

        .carousel-indicators button {
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: 0 15px;
          }
    }
}

.feature {
    margin: 46px 0;
    margin-top: 100px;

    .container {
        .feature-top {
            text-align: center;

            h2 {
                line-height: 29px;
                margin-bottom: 90px;
            }
        }

        .feature-bottom {

            .card-list {
                flex-wrap: wrap;
                justify-content: center;
                gap: 60px;

                .card-item {
                    @include card_item();

                    .card-body {
                        @include card_body();

                        h3 {
                            position: absolute;
                            bottom: 32px;
                            @include text(20px, 300, #000000, 0);
                            line-height: 23.05px;

                        }

                        p {
                            position: absolute;
                            bottom: 0;
                            @include text(20px, 300, #CBC9C9, 0);
                            line-height: 24.2px;


                        }
                    }

                    .card-footer {
                        bottom: 0;
                        left: 0;

                        a {
                            @include card-footer-buy-now ();

                        }

                        p#text {
                            display: inline;
                            position: absolute;
                            left: 25%;
                            top: 50%;
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }

                    #outer {
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: 174px;
                        top: 305px;
                        display: inline-block;
                        @include text(24px, 600, #000000, 0);
                        line-height: 29.05px;
                        text-decoration: none;
                        width: 159px;
                        height: 64px;
                        background: #DEDDDC;

                        #inner {
                            display: inline;
                            position: absolute;
                            left: 35%;
                            top: 50%;
                            -ms-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}